<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>中華職棒戰績</title>
</head>

<body>
    <h1>中華職棒戰績</h1>
    <form action="/update" method="get">
        <button type="submit">更新最新戰績</button>
    </form>
    <table border="1">
        <tr>
            <th>球隊</th>
            <th>場次</th>
            <th>勝場</th>
            <th>敗場</th>
            <th>和局</th>
            <th>勝率</th>
        </tr>
        {% for team in teams %}
        <tr>
            <td>{{ team[0] }}</td>
            <td>{{ team[1] }}</td>
            <td>{{ team[2] }}</td>
            <td>{{ team[3] }}</td>
            <td>{{ team[4] }}</td>
            <td>{{ team[5] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>