{% extends "base.html" %}

{% block title %}2025中華職棒戰績{% endblock %}

<style>

</style>
</head>

<body>
    {% block content %}
    <h1>中華職棒戰績</h1>
    <h2>吉祥物介紹</h2>

    <div class="mascot-banner">
        <ul class="mascot-list">
            {% for team in mascots %}
            <li>
                <a href="{{ team.link }}">{{ team.team }}</a>
                <ul>
                    {% for m in team.mascots %}
                    <li>{{ m }}</li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
    </div>

    <form action="/update" method="get">
        <button class="button" type="submit">更新最新戰績</button>
    </form>

    <table border="1">
        <tr>
            <th>球隊</th>
            <th>場次</th>
            <th>勝場</th>
            <th>敗場</th>
            <th>和局</th>
            <th>勝率</th>
        </tr>
        {% for team in teams %}
        <tr>
            <td>{{ team['team'] }}</td>
            <td>{{ team['games'] }}</td>
            <td>{{ team['wins'] }}</td>
            <td>{{ team['losses'] }}</td>
            <td>{{ team['draws'] }}</td>
            <td>{{ team['win_percentage'] }}</td>
        </tr>
        {% endfor %}
    </table>
    <p>最後更新時間：{{ last_update }}</p>
    <h3>目前球隊資料筆數：{{ teams|length }}</h3>
    <hr>
    <p>本網頁所有資料來源取自CPBL中華職棒大聯盟</p>
    <p>小作品，希望大家喜歡，如有侵權，會再刪除</p>
</body>
{% endblock %}

</html>