{% extends "base.html" %}

{% block title %}{{ mascot_name }} 的介紹{% endblock %}
<title>{{ mascot_name }} 的介紹</title>
</head>

{% block content %}

<body>
    <h1>{{ mascot_name }}</h1>

    <div class="container">
        <div class="description">
            <p>所屬球隊：{{ team }}</p>
            <p>{{ description }}</p>
        </div>

        <!-- 顯示吉祥物圖片 -->
        <div class="mascot-img">
            {% if image_path %}
            <img src="{{ url_for('static', filename=image_path) }}" alt="{{ mascot_name }} 的圖片" width="300">
            {% endif %}
        </div>
    </div>

    {% if video_path %}
    <video width="480" height="320" controls>
        <source src="{{ url_for('static', filename=video_path) }}" type="video/mp4">
    </video>
    {% endif %}

    <br><a href="/" class="button">回首頁</a>
</body>
{% endblock %}

</html>