<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ mascot.team }} 吉祥物介紹</title>
</head>

<body>
    <h1>{{ mascot.team }} 吉祥物介紹</h1>
    <ul>
        {% for m in mascot.mascots %}
        <li><a href="/mascot/{{ mascot.team|replace(' ', '') }}/{{ m }}">{{ m }}</a></li>
        {% endfor %}
    </ul>

    <hr>
    <p>資料來源:https://www.popdaily.com.tw/life/1549926 和 CPBL中華職棒大聯盟&各球隊官網</p>
    <a href="/">回首頁</a>
</body>

</html>